.meals {
    max-width: 60rem;
    width: 90%;
    margin: 2rem auto;
    animation: meals-appear 1s ease-out forwards;
  }
  
  .meals ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .meals ul li{
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: aliceblue;
  }

  .loading{
    color: #fff;
    text-align: center;
  }

  .httpError{
    color: red;
    text-align: center;
  }
  
  @keyframes meals-appear {
    from {
      opacity: 0;
      transform: translateY(3rem);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }